*.selector-for-some-widget {
    box-sizing: content-box;
}

.contaniner {
    display: flex;
    /* or inline-flex */
}

main {
    margin-bottom: 20px;
    margin-top: 20px;
}

* {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    color: SeaGreen;
}

p,
li {
    font-size: 12px;
}

a {
    text-decoration: none;
}